.blogroll-posts
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
    grid-gap: 58px
    width: 100%

.blogroll-container
    margin-right: 86px

@media screen and (max-width: 1216px)
    .blogroll-posts
        grid-gap: 24px
    .blogroll-cards
        width: 100%
        height: 200px
        background-size: cover
        background-position: center center

@media screen and (max-width: 665px)
    .blogroll-container
        margin-right: 0