/* Hero Section Fixes */
.hero-modified
  display: flex
  flex-direction: row-reverse

.hero-text
  width: 50%
  padding: 0 !important

.hero-container
  display: flex
  flex-direction: row-reverse

.hero-image
  width: 503px
  background-repeat: no-repeat
  background-size: contain;

.hero-h1
  color: $relevel-purple-light
  max-width: 600px

.hero-h3
  max-width: 585px
  margin: $spacing-m-desktop 0
  color: $relevel-purple-dark
  font-size: $relevel-p-desktop
  line-height: 30px

.hero-form
  display: flex
  input
    width: 400px
    margin-right: 20px
    
/* Hero Responsive Fixes */

@media screen and (max-width: 1280px)
  .hero-h1
    max-width: 540px
  .hero-h3
    max-width: 500px

@media screen and (max-width: 1216px)
  .hero-h1
    font-size: $relevel-h1-desktop
    line-height: 54px
  .hero-image
    width: 400px
  .hero-form
    input
      width: 240px

@media screen and (max-width: 1030px)
  .hero-h1
    max-width: 340px
  .hero-image
    margin-top: $spacing-l-desktop
    margin-right: -$spacing-xl-desktop

@media screen and (max-width: 980px)
  .hero-h3
    max-width: 360px
  .hero-form
    flex-direction: column
    max-width: 380px
    input
      width: 380px
      margin-bottom: $spacing-xs-desktop

@media screen and (max-width: 880px)
  .hero-image
    display: none
  .hero-text
    display: flex !important
    flex-direction: column
    align-items: flex-start
    width: auto
  .hero-h1, .hero-h3
    width: 90%
    max-width: 90%
  .hero-form
    flex-direction: row
    max-width: 100%
    input
      width: unset
      margin-bottom: 0
      flex-grow: 1
  .hero-modified
    margin-top: -$spacing-m-desktop !important

@media screen and (max-width: 710px)
  .hero-h1, .hero-h3
    width: 100%
    max-width: 100%

@media screen and (max-width: 560px)
  .hero-form
    flex-direction: column
    width: 100%
    input
      margin-right: 0
      margin-bottom: $spacing-xs-desktop

@media screen and (max-width: 420px)
  .hero-h1
    font-size: $relevel-hero-mobile
    line-height: 46px
