.breadcrumb
    ul
        display: block
        align-items: baseline !important
        margin-left: 0 !important
        width: inherit
        overflow: hidden
    a
        color: $relevel-purple-light !important
        font-size: 16px
        text-transform: capitalize
        &:hover
            text-decoration: underline
    span
        padding: 0 0.75em
        text-transform: capitalize
    li
        span
            display: block
            max-width: 100%
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden

@media screen and (max-width: 780px)
    .breadcrumb
        li
            span
                max-width: 200px

.breadcrumb li + li::before
    content: '»' !important