/* Everything You Need Component */

.everything-container 
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: $spacing-xl-desktop !important

.everything-header
  margin-bottom: 60px
  color: $relevel-purple-light
  text-align: center

.everything-list
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 auto;
  width: fit-content

.everything-list-item
  display: flex
  position: relative
  flex-direction: row
  width: fit-content 
  &:nth-child(1)  
    margin-bottom: -15px
    .everything-list-image
      width: 360px
      height: 359px
      margin-left: -15px
  &:nth-child(even)
    left: 20%
    .everything-header-3
      color: $relevel-pink

.everything-list-image
  display: block
  position: relative
  width: 345px
  height: 345px

.everything-header-3
  margin-bottom: $spacing-s-desktop
  margin-top: $spacing-xl-desktop
  color: $relevel-purple-light
  font-size: $relevel-h2-desktop

.everything-list-description
  max-width: 440px
  margin: 0 0 0 $spacing-l-desktop
  p
    font-size: 16px
    line-height: 33px
    color: $relevel-purple-dark

/* Everything You Need Component Responsive Fixes */

@media screen and (max-width: 1100px)
  .everything-list-item
    &:nth-child(even)
      left: 0

@media screen and (max-width: 990px)
  .everything-list
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
  .everything-list-item
    flex-direction: column
    justify-content: space-between
    margin: 0 auto 60px auto
    &:nth-child(1)  
      margin-bottom: auto
      .everything-list-image
        margin-left: 0px
        left: -15px
      .everything-list-description
        margin-top: 5px

  .everything-list-description
    margin-left: 0

@media screen and (max-width: 768px)
  .everything-list-item
    margin-bottom: 60px
    &:nth-child(1)  
      margin-bottom: 60px

