/* Prosection Image */
.prosection-container
  display: flex
  align-items: center
  margin-top: 20px

.prosection-header
  width: 50%
  color: $relevel-purple-light

.prosection-paindadd
  color: $relevel-mint

.prosection-image
  display: block
  height: 360px
  width: 720px
  margin-right: 40px
  margin-left: -140px
  background-size: contain
  background-repeat: no-repeat

@media screen and (min-width: 1524px)
  .prosection-image
    background-size: cover
    background-position-x: -100px
    width: 50%    
    margin-left: 0

@media screen and (max-width: 1280px)
  .prosection-image
    margin-left: -200px
  .prosection-header
    width: 60%
    margin-top: -20px

@media screen and (max-width: 990px)
  .prosection-container
    margin-top: 40px !important
  .prosection-header
    width: 70%
    margin-top: -80px

@media screen and (max-width: 550px)
  .prosection-image
    display: none
  .prosection-container
    background: $relevel-purple-light
    margin: 10px auto 40px auto !important
    padding: 2rem 3.5rem 
  .prosection-header
    color: white
    width: 100%
    margin: 0 auto
    font-size: 50px !important
    line-height: 52px