/* Prosection Image */
.prosection-container
  display: flex
  align-items: center
  margin-top: $spacing-xl-desktop !important
  justify-content: space-between

.prosection-header
  width: 40%
  font-size: $relevel-h1-desktop
  color: $relevel-purple-light

.prosection-paindadd
  color: $relevel-mint

.prosection-image
  display: block
  height: 289px
  width: 594px
  background-size: contain
  background-repeat: no-repeat


@media screen and (max-width: 1390px)
  .prosection-header
    margin-right: $spacing-m-desktop

@media screen and (max-width: 1215px)
  .prosection-header
    font-size: $relevel-h2-desktop
    line-height: $relevel-h2-desktop * 1.2
    margin-right: 0
  .prosection-image
    width: 480px
    height: 230px
    margin-right: $spacing-m-desktop

@media screen and (max-width: 775px)
  .prosection-image
    display: none
  .prosection-container
    height: fit-content
    background: $relevel-purple-light
    margin: $spacing-l-desktop auto 0 auto !important
    padding: 2rem 3.5rem 
  .prosection-header
    color: white
    width: 100%
    margin: 0 auto

@media screen and (max-width: 660px)
  .prosection-container
    margin-bottom: $spacing-xl-desktop !important

@media screen and (max-width: 500px)
  .prosection-container
    padding: 2rem 1.5rem 
    margin-top: $spacing-m-desktop !important

@media screen and (max-width: 415px)
  .prosection-container
    margin-top: $spacing-s-desktop !important
