.editorial-content-header
    margin-top: -$spacing-m-desktop
    margin-bottom: $spacing-m-desktop
    font-size: $relevel-h2-desktop
    color: $relevel-purple-light

.editorial-content-image
    width: 483px
    height: 415px
    background-size: cover

.editorial-content-container
    display: flex
    justify-content: space-between
    &:last-of-type
        margin-bottom: 60px

.editorial-content-left
    flex-direction: row
    .editorial-content-image
        margin-right: 40px

.editorial-content-right
    flex-direction: row-reverse
    .editorial-content-image
        margin-left: 40px

.editorial-content-text
    display: flex
    flex-direction: column
    width: 646px
    margin-top: -5px

.editorial-content-text__paragraph
    display: block
    margin-bottom: 35px
    color: $relevel-purple-dark
    font-size: 16px
    line-height: 30px
    &:last-of-type
        margin-bottom: 0

.editorial-content-quote
    width: 440px
    margin-top: -10px
    margin-left: 40px
    font-size: $relevel-h1-desktop
    line-height: 56px
    color: $relevel-purple-light
    
/* Responsive Breakpoints */

@media screen and (max-width: 1215px)
    .editorial-content-image
        width: 397px
        height: 308px
        background-size: cover

    .editorial-content-text
        width: 60%

@media screen and (max-width: 930px)
    .editorial-content-text
        width: 50%

@media screen and (max-width: 685px)
    .editorial-content-left, .editorial-content-right
        flex-direction: column
        width: 100%
        .editorial-content-image
            width: 100%
            height: 400px
            margin: 0
    .editorial-content-text
        width: 100%
        margin-top: 40px
    .editorial-content-quote
        width: 100%
        margin: 0px 0 -10px 0
        font-size: 16px