@import "~bulma/sass/utilities/initial-variables"

// Relevel Branding
$relevel-purple-light: #5252A5
$relevel-purple-dark: #302D5B
$relevel-pink: #C55B87
$relevel-mint: #5DC4B3
$relevel-green: #66FFD1
$relevel-gray: #888
$relevel-dark-gray: #353535

// Spacing
$spacing-xxxl-desktop: 96px
$spacing-xxl-desktop: 64px
$spacing-xl-desktop: 48px
$spacing-l-desktop: 32px
$spacing-m-desktop: 24px
$spacing-s-desktop: 16px
$spacing-xs-desktop: 8px

// Type
$relevel-hero-desktop: 64px
$relevel-h1-desktop: 48px
$relevel-h2-desktop: 32px
$relevel-h3-desktop: 24px
$relevel-p-desktop: 16px
$relevel-small-desktop: 10px

$relevel-hero-mobile: 40px

@import "./Navbar/Navbar.sass"
@import "./Hero/Hero.sass"
@import "./PromoLooper/PromoLooper.sass"
@import "./ComingSoon/ComingSoon.sass"
@import "./PromoSteps/PromoSteps.sass"
@import "./PromoHorizontal/PromoHorizontal.sass"
@import "./CardGrid/CardGrid.sass"
@import "./Input/Input.sass"
@import "./Button/Button.sass"
@import "./BlogCard/BlogCard.sass"
@import "./BlogRoll/BlogRoll.sass"
@import "./CategoryList/CategoryList.sass"
@import "./PromoBlog/PromoBlog.sass"
@import "./BlogIndexContent/BlogIndexContent.sass"
@import "./Breadcrumb/Breadcrumb.sass"
@import "./SimpleHero/SimpleHero.sass"
@import "./EditorialContent/EditorialContent.sass"
@import "./FormMessage/FormMessage.sass"
@import "./Terms/Terms.sass"
@import "./Footer/Footer.sass"
@import "~bulma"

.section
  padding-right: $spacing-xxl-desktop !important
  padding-left: $spacing-xxl-desktop !important

@media screen and (max-width: 500px) 
  .section
    padding-top: $spacing-l-desktop !important
    padding-right: $spacing-l-desktop !important
    padding-left: $spacing-l-desktop !important

@media screen and (max-width: 414px) 
  .section
    padding-top: $spacing-s-desktop !important
    padding-right: $spacing-s-desktop !important
    padding-left: $spacing-s-desktop !important

@media screen and (max-width: 880px) 
  .section
    padding-top: $spacing-m-desktop !important

/* Tags Page Styles */

.tags-header
  margin-bottom: 20px
  margin-top: -20px
  color: $relevel-purple-dark
  font-size: 80px
  text-transform: capitalize
  overflow: hidden

.tags-articles-header
  font-size: 32px !important
  color: $relevel-purple-dark
  margin-bottom: 10px

.tags-container
  .blogroll-container
    margin-right: 0
  .blogroll-posts
    grid-gap: 50px

@media screen and (max-width: 798px)
  .tags-container
    .blogroll-posts
      grid-gap: 20px

/* BlogPost Page Styles */

.blogpost-header
  font-size: $spacing-xl-desktop !important
  color: $relevel-purple-light !important

.blogpost-container
  display: flex
  flex-direction: row
  h1
    font-size: $relevel-h1-desktop
  h2
    color: $relevel-purple-light !important
    font-size: $relevel-h3-desktop !important

.blogpost-content
  width: 100%

.blogpost-tags
  margin-top: $spacing-l-desktop

.blogpost-taglist
  margin-left: 0 !important
  list-style: none !important
  li
    font-size: $relevel-p-desktop
    padding: 0 !important
    margin-top: 0 !important

.blogpost-text
  max-width: 1024px
  h2
    margin-top: $spacing-xl-desktop !important
    margin-bottom: $spacing-s-desktop !important
  p
    font-size: $relevel-p-desktop !important
    line-height: 1.8 !important
  .gatsby-resp-image-wrapper
    margin-bottom: $spacing-l-desktop !important

.blogpost-aside
  display: block
  position: sticky
  top: 0
  right: 0
  height: fit-content
  min-width: 200px
  margin-left: $spacing-xl-desktop
  padding-top: 180px


.blog-discussion
  margin-top: $spacing-xxxl-desktop !important

@media screen and (max-width: 980px)
  .blogpost-aside
    padding-top: 20px
  
@media screen and (max-width: 790px)
  .blogpost-aside
    min-width: 140px

@media screen and (max-width: 700px)
  .blogpost-container
    flex-direction: column
  .blogpost-aside
    min-width: 100%
    margin-left: 0

/* About Page Fixes */

@media screen and (max-width: 1280px)
  .about-container
    .comingsoon-container
      justify-content: space-between
      .comingsoon-text-container
        width: 80%
        .comingsoon-form
          &::before
            display: none
        .section
          padding-left: 0

@media screen and (max-width: 991px)
  .about-container
    .comingsoon-container
      width: 100% !important
      .comingsoon-form
        flex-direction: row
        input
          width: 250px
          margin-right: 20px
          margin-bottom: 0
        .comingsoon-image
          margin-right: 0

@media screen and (max-width: 880px)
  .about-container
    .comingsoon-image
      margin-right: -20%

@media screen and (max-width: 821px)
  .about-container
    .section
      padding-left: 0
      padding-right: 0
      .comingsoon-container
        flex-direction: column
        margin-top: 0px !important
        .comingsoon-text-container
          width: 100%
        .comingsoon-image
          display: none

@media screen and (max-width: 771px)
  .about-container
    .comingsoon-form
      flex-direction: column
      input
        margin-bottom: 10px

@media screen and (max-width: 550px)
  .about-container
    .comingsoon-header, .comingsoon-description
      width: 100%

/* Cookies Bar Styles */
.cookies-button
  font-family: 'NeuePlak-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 11px !important
  line-height: 0
  margin-right: $spacing-s-desktop
  padding-right: 12px
  padding-left: 12px
  padding-top: 12px
  padding-bottom: 8px

  @media screen and (max-width: 440px)
    margin-bottom: $spacing-xs-desktop

.cookies-content
  flex: 1 0 300px
  margin: $spacing-xs-desktop $spacing-s-desktop
  font-size: 13px !important
  a
    &:hover
      color: #ffffff
      text-decoration: underline

.cookies-container
  align-items: baseline 
  background: $relevel-dark-gray
  color: white 
  display: flex 
  flex-wrap: wrap 
  justify-content: space-between 
  left: 0px
  position: fixed 
  width: 100% 
  z-index: 999 
  bottom: 0px

  @media screen and (max-width: 440px)
    justify-content: center


/* Form Elements */

.input-signup
  height: 57px
  width: 352px
  box-sizing: border-box
  padding: 0px 24px 0px 24px
  border: 1px solid $relevel-purple-light
  border-radius: 3px
  font-size: 16px
  &::placeholder
    font-size: 16px
    color: $relevel-purple-light

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
  width: 100vw
  height: 400px
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem

body
  font-family: 'NeuePlak-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-weight: normal
  p
    font-size: $relevel-p-desktop
    line-height: $relevel-p-desktop * 2

h1
  font-size: $relevel-hero-desktop
  font-weight: normal
  line-height: 74px
  letter-spacing: -1px
  
h2
  font-size: $relevel-h1-desktop
  line-height: $relevel-h1-desktop * 1.12
  font-weight: normal
  letter-spacing: -1px

h3
  font-size: $relevel-h3-desktop

.section
  padding-top: $spacing-xxl-desktop
  padding-bottom: 0

// Terms pages

.terms-container
  margin-top: -$spacing-xl-desktop
  h1
    margin-bottom: $spacing-xl-desktop !important
    font-size: $relevel-hero-desktop !important
    color: $relevel-purple-light !important
.terms-content
  h2
    margin-top: $spacing-m-desktop !important
    margin-bottom: $spacing-m-desktop !important
    font-size: $relevel-h2-desktop !important
    line-height: $relevel-h2-desktop * 1.2
    color: $relevel-purple-light !important
  p, ul, li
    font-size: $relevel-p-desktop !important
  p
    display: block
    margin-bottom: $spacing-l-desktop
  ul
    li
      list-style-type: disc
      margin-left: $spacing-xl-desktop
      margin-bottom: $spacing-s-desktop

// responsiveness
    +tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%

    +mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em
