.promohorizontal-container
    display: flex
    flex-direction: row
    align-items: center
    margin-top: $spacing-xl-desktop !important

.promohorizontal-text-container
    display: flex
    flex-direction: column
    width: 50%

.promohorizontal-header
    max-width: 300px
    margin-top: -$spacing-m-desktop
    color: $relevel-pink

.promohorizontal-text
    display: block
    margin-top: $spacing-m-desktop
    color: $relevel-purple-dark
    line-height: 30px

.promohorizontal-image
  display: block
  height: 360px
  width: 720px
  margin-right: 40px
  margin-left: -140px
  background-size: contain
  background-repeat: no-repeat

/* PromoHorizontal Responsive Fices */

@media screen and (min-width: 1524px)
  .promohorizontal-image
    background-size: cover !important
    background-position-x: -40px
    width: 50%    
    margin-left: 0

@media screen and (max-width: 1310px)
    .promohorizontal-image
        background-position-x: 0px

@media screen and (max-width: 1280px)
    .promohorizontal-header
        line-height: 62px
    .promohorizontal-image
        margin-left: -200px

@media screen and (max-width: 1215px)
    .promohorizontal-header
        font-size: $relevel-h2-desktop
        line-height: $relevel-h2-desktop * 1.2
    .promohorizontal-image
        background-position-x: 60px

@media screen and (max-width: 1015px)
    .promohorizontal-image
        background-position-x: 40px

@media screen and (max-width: 760px)
    .promohorizontal-image
        margin-left: -240px

@media screen and (max-width: 700px)
    .promohorizontal-container
        flex-direction: column
        margin-top: 0 !important
    .promohorizontal-image
        display: block
        width: 100%
        margin-left: auto
        margin-right: auto
        margin-bottom: 40px
        background-size: cover
        background-position-x: -60px
    .promohorizontal-header
        max-width: 100%
        text-align: center    
    .promohorizontal-text-container
        width: 100%
        margin-left: auto
        margin-right: auto

@media screen and (max-width: 630px)
    .promohorizontal-image
        background-position-x: -120px

@media screen and (max-width: 550px)
    .promohorizontal-image
        background-position-x: -180px