footer.footer
  margin-top: $spacing-xxl-desktop
  padding: $spacing-xxl-desktop 0rem $spacing-xxl-desktop 0rem
  background-color: #000
  color: white

.footer-container
    display: grid
    max-width: 100%
    align-items: center
    overflow: hidden
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
    grid-column-gap: $spacing-l-desktop
    grid-row-gap: $spacing-xxl-desktop

.footer-latest-container
  grid-column: span 2
  max-width: 590px

.footer-navigation-container
  grid-column: span 2
  justify-self: start 
  max-width: 590px

.footer-what-container
  grid-column: span 2
  max-width: 590px

.footer-what-trademarks
  max-width: 590px
  grid-column: span 2

.footer-header
  margin-bottom: $spacing-m-desktop !important
  color: white !important
  font-size: $relevel-h2-desktop

.footer-latest-list
  padding: 0
  margin: 0 !important
  list-style: none !important

.footer-latest-list_item
  margin-bottom: 10px

.footer-latest-item_link
  color: white !important
  font-size: 16px
  &:hover
    text-decoration: underline
  &::visited
    color: white !important
  &::active
    color: white !important

.footer-what-description
  font-size: 16px
  line-height: 24px
  margin-top: -4px
  margin-bottom: 40px

.footer-logo
  margin-bottom: $spacing-s-desktop

.footer-copyrights
  display: block
  margin: 15px auto 10px
  color: white

.footer-form
  display: flex
  input
    margin-right: 20px
    width: 253px

@media screen and (max-width: 1216px)
  .footer-navigation-container
    grid-column: 3
    grid-row: 1

@media screen and (max-width: 1024px)
  footer.footer
    padding-right: $spacing-m-desktop
    padding-left: $spacing-m-desktop

@media screen and (max-width: 1024px)
  .footer-navigation-container
    grid-column: auto
    grid-row: auto

@media screen and (max-width: 488px)
  .footer-form
    display: flex
    flex-direction: column
    input
      margin-bottom: $spacing-s-desktop
      width: 100%


/*  @media screen and (max-width: 1408px)
  .footer-latest-container
    flex: 1
  .footer-form
    justify-content: flex-start
    &::before
      right: 143px
      top: 172px */

/* @media screen and (max-width: 1215px)
  .footer-latest-container
    margin-right: 40px
  .footer-what-container
    flex: 1.2
  .footer-form
    &::before
      right: 45px
      top: 196px */

/* @media screen and (max-width: 1024px)
  .footer-container
    max-width: 90% !important
  .footer-form
    &::before
      display: none

/* @media screen and (max-width: 1024px)
  .footer-container
    flex-direction: column
    max-width: 70% !important
    margin: 0 auto
  .footer-latest-container
    margin-bottom: 80px
    margin-right: 0 */
  
/* @media screen and (max-width: 595px)
  .footer-form
    flex-direction: column
    input
      width: 100%
      min-width: 100%
      margin-right: 0
      margin-bottom: 20px
  .footer-what-description
    margin-bottom: 20px
  .footer-latest-container
    margin-bottom: 40px */