footer.footer
  margin-top: 60px
  padding: 3rem 0rem 0rem
  background-color: #000
  color: white

.footer-container
    display: flex
    flex-direction: row
    margin-bottom: 100px !important
    margin-top: 40px !important

.footer-latest-container
  flex: 2

.footer-what-container
  flex: 1

.footer-header
  margin-bottom: 30px !important
  color: white !important
  font-size: 33px

.footer-latest-list
  padding: 0
  margin: 0 !important
  list-style: none !important

.footer-latest-list_item
  margin-bottom: 10px

.footer-latest-item_link
  color: white !important
  font-size: 16px
  &::visited
    color: white !important
  &::active
    color: white !important

.footer-what-description
  font-size: 16px
  line-height: 24px
  margin-top: -4px
  margin-bottom: 40px

.footer-logo
  padding-bottom: 30px

.footer-copyrights
  display: block
  margin: 15px auto 10px
  color: white