.categorylist-aside
    width: 348px

.categorylist-cat   
    list-style: none !important
    margin: 0 !important 

.categorylist-cat--item
    text-transform: capitalize
    margin-bottom: 10px !important
    a
        color: $relevel-purple-light !important
        &:hover
            text-decoration: underline !important
        &:visited
            color: black

.categorylist-header
    margin-bottom: 30px
    color: $relevel-purple-light
    font-size: $relevel-h2-desktop

.categorylist-social
    margin-top: 30px

.categorylist-social--list
    
.categorylist-social--item
    display: inline-block
    width: 24px
    margin-right: 30px
    padding-bottom: 6px
    border-bottom: 1px solid white
    &:hover
        border-bottom: 1px solid $relevel-purple-light

.categorylist-social--logo
    display: block
    width: 24px
    height: 24px

.categorylist-social--logo_twitter
    background: url("/img/twitter.svg")

.categorylist-social--logo_instagram
    background: url("/img/instagram.svg")

.categorylist-social--logo_pinterest
    background: url("/img/pinterest.svg")

@media screen and (max-width: 800px)
    .categorylist-aside
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: baseline
        width: 100%
        margin-top: 40px
        margin-bottom: 40px
        background-color: $relevel-purple-light
        padding: $spacing-m-desktop
    .categorylist-wrapper
        margin-right: $spacing-l-desktop
    .categorylist-social--logo_twitter, .categorylist-social--logo_instagram, .categorylist-social--logo_pinterest
        filter: brightness(0) invert(1)
    .categorylist-social--item
        border-bottom: 1px solid $relevel-purple-light
    .categorylist-header
        color: white !important
        line-height: 30px
    .categorylist-cat--item
        a
            color: white !important

@media screen and (max-width: 585px)
    .categorylist-aside
        flex-direction: column

