.blogcard-cointainer
    display: flex
    flex-direction: column
    justify-content: center
    max-width: 345px

.blogcard-image
    display: block
    background-repeat: no-repeat
    background-size: cover
    width: 345px
    height: 230px

.blogcard-header
    display: block
    margin: $spacing-s-desktop 0
    width: fit-content
    color: $relevel-purple-light
    line-height: 30px
    &:hover
        text-decoration: underline

.blogcard-author
    color: $relevel-purple-dark
    font-style: normal

@media screen and (max-width: 1240px)
    .blogcard-header
        margin: $spacing-s-desktop 0 $spacing-xs-desktop 0